<div class="container">
    <button mat-button extended [routerLink]="['/']">
        <span class="material-icons">arrow_back</span>
        Назад
    </button>
    <div class="task">
        @if (task$ | async; as task) {
        <app-update-task-title [task]="task"></app-update-task-title>
        <app-update-task-date [task]="task"></app-update-task-date>
        <app-update-task-status [task]="task"></app-update-task-status>
        <app-update-task-priority [task]="task"></app-update-task-priority>
        }
    </div>
</div>
